<header class="p-3 text-bg-dark sticky-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
      
            
            <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-3 text-white" routerLink="/" fragment="inicio">Inicio</a></li>
                <li><a class="nav-link px-3 text-white" routerLink="/" fragment="skills">Habilidades</a></li>
                <li><a class="nav-link px-3 text-white" routerLink="/" fragment="sobre-mi">Sobre Mí</a></li>
                <li><a class="nav-link px-3 text-white" routerLink="/" fragment="proyectos">Proyectos</a></li>
                <li><a class="nav-link px-3 text-white" routerLink="/" fragment="contact-section">Contacto</a></li>
            </ul>

            <div class="text-end d-none d-lg-block">
                <a routerLink="/contact" class="btn btn-warning"><i class="fa-solid fa-phone"></i>&nbsp;Contactar</a>
            </div>
        </div>
    </div>
</header>

