<header class="p-3 text-bg-dark sticky-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
      
            
            <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-3 text-white" routerLink="/">Inicio</a></li>
                <li><a class="nav-link px-3 text-white" href="#sobre-mi">Sobre Mí</a></li>
                <li><a class="nav-link px-3 text-white" href="#contact-section">Contacto</a></li>
            </ul>

            <div class="text-end d-none d-lg-block">
                <a href="mailto:marcosjimgar2@gmail.com" class="btn btn-warning">Contratar</a>
            </div>
        </div>
    </div>
</header>

